:root { --bs-info: #FF6105; }
.icon-thick { font-size: 1.75rem; -webkit-text-stroke: 1px var(--bs-info); }
.icon-nav { font-size: 1.5rem; }
.nav-link.active { border-bottom: 3px solid var(--bs-info); padding-bottom: .35rem; }
body, h1, h2, h3, h4, h5, .nav-link { font-family: 'Bebas Neue', cursive; letter-spacing: 1px; }
.card img { aspect-ratio: 1 / 1; object-fit: cover; }